Client/Connected Services/InventoryService/InventoryService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://tempuri.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EditInventoryQuantity">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="newQuantity" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EditInventoryQuantityResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="EditInventoryQuantityResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RemoveFromInventory">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="quantityToRemove" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RemoveFromInventoryResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RemoveFromInventoryResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddProductToInventory">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="productId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="supplierId" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="quantityAvailable" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddProductToInventoryResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AddProductToInventoryResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetInventoryByProductId">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="productId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetInventoryByProductIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetInventoryByProductIdResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllInventory">
        <s:complexType />
      </s:element>
      <s:element name="GetAllInventoryResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllInventoryResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllInventoryProducts">
        <s:complexType />
      </s:element>
      <s:element name="GetAllInventoryProductsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllInventoryProductsResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="EditInventoryQuantitySoapIn">
    <wsdl:part name="parameters" element="tns:EditInventoryQuantity" />
  </wsdl:message>
  <wsdl:message name="EditInventoryQuantitySoapOut">
    <wsdl:part name="parameters" element="tns:EditInventoryQuantityResponse" />
  </wsdl:message>
  <wsdl:message name="RemoveFromInventorySoapIn">
    <wsdl:part name="parameters" element="tns:RemoveFromInventory" />
  </wsdl:message>
  <wsdl:message name="RemoveFromInventorySoapOut">
    <wsdl:part name="parameters" element="tns:RemoveFromInventoryResponse" />
  </wsdl:message>
  <wsdl:message name="AddProductToInventorySoapIn">
    <wsdl:part name="parameters" element="tns:AddProductToInventory" />
  </wsdl:message>
  <wsdl:message name="AddProductToInventorySoapOut">
    <wsdl:part name="parameters" element="tns:AddProductToInventoryResponse" />
  </wsdl:message>
  <wsdl:message name="GetInventoryByProductIdSoapIn">
    <wsdl:part name="parameters" element="tns:GetInventoryByProductId" />
  </wsdl:message>
  <wsdl:message name="GetInventoryByProductIdSoapOut">
    <wsdl:part name="parameters" element="tns:GetInventoryByProductIdResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllInventorySoapIn">
    <wsdl:part name="parameters" element="tns:GetAllInventory" />
  </wsdl:message>
  <wsdl:message name="GetAllInventorySoapOut">
    <wsdl:part name="parameters" element="tns:GetAllInventoryResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllInventoryProductsSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllInventoryProducts" />
  </wsdl:message>
  <wsdl:message name="GetAllInventoryProductsSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllInventoryProductsResponse" />
  </wsdl:message>
  <wsdl:portType name="InventoryServiceSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="EditInventoryQuantity">
      <wsdl:input message="tns:EditInventoryQuantitySoapIn" />
      <wsdl:output message="tns:EditInventoryQuantitySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RemoveFromInventory">
      <wsdl:input message="tns:RemoveFromInventorySoapIn" />
      <wsdl:output message="tns:RemoveFromInventorySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddProductToInventory">
      <wsdl:input message="tns:AddProductToInventorySoapIn" />
      <wsdl:output message="tns:AddProductToInventorySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetInventoryByProductId">
      <wsdl:input message="tns:GetInventoryByProductIdSoapIn" />
      <wsdl:output message="tns:GetInventoryByProductIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllInventory">
      <wsdl:input message="tns:GetAllInventorySoapIn" />
      <wsdl:output message="tns:GetAllInventorySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllInventoryProducts">
      <wsdl:input message="tns:GetAllInventoryProductsSoapIn" />
      <wsdl:output message="tns:GetAllInventoryProductsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="InventoryServiceSoap" type="tns:InventoryServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditInventoryQuantity">
      <soap:operation soapAction="http://tempuri.org/EditInventoryQuantity" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveFromInventory">
      <soap:operation soapAction="http://tempuri.org/RemoveFromInventory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddProductToInventory">
      <soap:operation soapAction="http://tempuri.org/AddProductToInventory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInventoryByProductId">
      <soap:operation soapAction="http://tempuri.org/GetInventoryByProductId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllInventory">
      <soap:operation soapAction="http://tempuri.org/GetAllInventory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllInventoryProducts">
      <soap:operation soapAction="http://tempuri.org/GetAllInventoryProducts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="InventoryServiceSoap12" type="tns:InventoryServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditInventoryQuantity">
      <soap12:operation soapAction="http://tempuri.org/EditInventoryQuantity" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveFromInventory">
      <soap12:operation soapAction="http://tempuri.org/RemoveFromInventory" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddProductToInventory">
      <soap12:operation soapAction="http://tempuri.org/AddProductToInventory" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInventoryByProductId">
      <soap12:operation soapAction="http://tempuri.org/GetInventoryByProductId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllInventory">
      <soap12:operation soapAction="http://tempuri.org/GetAllInventory" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllInventoryProducts">
      <soap12:operation soapAction="http://tempuri.org/GetAllInventoryProducts" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="InventoryService">
    <wsdl:port name="InventoryServiceSoap" binding="tns:InventoryServiceSoap">
      <soap:address location="https://localhost:44322/InventoryService.asmx" />
    </wsdl:port>
    <wsdl:port name="InventoryServiceSoap12" binding="tns:InventoryServiceSoap12">
      <soap12:address location="https://localhost:44322/InventoryService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>